.text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &.text-paragraph {

  }

  &.text-title {
    font-size: 38px;
    font-weight: 700;
  }
}