.text {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  font-size: 20px;

  &.text-title {
    color: deepskyblue;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    line-height: 47px;
  }

  &.text-paragraph {
    color: deepskyblue;
  }

  &.text-modal-title {
    margin-bottom: 30px;
  }
}