.score {
  position: relative;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 40px auto;
  background: azure;
  padding: 20px;
  font-size: 40px;
  border-radius: 14px;
  color: deepskyblue;
  border: 2px solid deepskyblue;

  .crown {
    position: absolute;
    top: -27px;
    right: -13px;
    width: 44px;
    height: 60px;
    background-repeat: no-repeat;
    rotate: 31deg;
  }
}