.logo {
  display: inline-flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  max-width: 240px;
  width: 100%;
  padding: 20px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

  &.logo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .logo-content {
    position: relative;
    flex: 1;

    .logo-item {
      position: absolute;
      width: 50%;
      height: 50%;
      padding: 6px;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        left: 50%;
      }

      &:nth-child(3) {
        top: 50%;
        left: 0;
      }
      
      &:nth-child(4) {
        top: 50%;
        left: 50%;
      }
    }
  }
}