$borderColor: #cf4421;

.card {
  background-color: transparent;
  max-width: 200px;
  width: 100%;
  perspective: 1000px;

  &.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &.card-clickable {
    cursor: pointer;
  }

  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .card-content-front, .card-content-back {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 5px solid $borderColor;
      border-radius: 10px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    }
    
    .card-content-front {
      background-color: white;
      transform: rotateY(180deg);
      padding: 20px;
    }
    
    .card-content-back {
      background-color: white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-numberer {
        position: absolute;
        width: 40px;
        height: 40px;
        background: white;
        border: 3px solid $borderColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $borderColor;
        font-size: 24px;
        font-weight: 800;
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
      }
    }  
  }

  &.card-flipped .card-content {
    transform: rotateY(180deg);
  }

  &.card-theme-zigzag {
    .card-content-back {
      background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0, linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0, linear-gradient(315deg, #ECEDDC 25%, transparent 25%), linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
      background-size: 100px 100px;
      background-color: #EC173A;
    }
  }
}
