.card {
  background-color: transparent;
  max-width: 200px;
  width: 100%;
  perspective: 1000px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  &.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &.card-clickable {
    cursor: pointer;
  }

  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .card-content-front, .card-content-back {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 5px solid gray;
      border-radius: 10px;
      box-sizing: border-box;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    }
    
    .card-content-front {
      background-color: white;
      transform: rotateY(180deg);
      padding: 20px;
    }
    
    .card-content-back {
      background-color: white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-numberer {
        position: absolute;
        width: 40px;
        height: 40px;
        background: white;
        border: 3px solid;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        font-size: 24px;
        font-weight: 800;
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
      }
    }  
  }

  &.card-flipped .card-content {
    transform: rotateY(180deg);
  }
}

@import "./themes/classic.scss";
