#home-page {
  padding-top: 20px;

  .main-logo {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .main-title {
    margin-bottom: 50px;
  }

  .new-game-modal {

    .modal-panel {
      width: 500px;
    }

    .button {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

@media (min-width: 1400px) {
  #home-page {
    padding-top: 100px !important;

    .main-logo {
      max-width: 280px !important;
      margin-bottom: 30px !important;
    }
  
    .main-title {
      margin-bottom: 60px !important;
    }
  }
}